In [2]:
import pandas as pd

In [3]:
vehicles_df = pd.read_csv('vehicles_dataset.csv')
vehicles_df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,type,paint_color,image_url,description,county,state,lat,long,posting_date,price_category
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020.0,ram,2500 crew cab big horn,good,NaN,...,pickup,silver,https://images.craigslist.org/00N0N_1xMPvfxRAI...,Carvana is the safer way to buy a car During t...,NaN,tn,35.060000,-85.250000,2021-04-17T12:30:50-0400,high
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016.0,ford,explorer 4wd 4dr xlt,NaN,6 cylinders,...,SUV,black,https://images.craigslist.org/00x0x_26jl9F0cnL...,***Call Us for more information at: 201-635-14...,NaN,nj,40.821805,-74.061962,2021-05-03T15:40:21-0400,medium
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017.0,volkswagen,golf r hatchback,good,NaN,...,sedan,NaN,https://images.craigslist.org/00y0y_eeZjWeiSfb...,Carvana is the safer way to buy a car During t...,NaN,ca,33.779214,-84.411811,2021-04-28T03:52:20-0700,high
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013.0,toyota,rav4,NaN,NaN,...,wagon,white,https://images.craigslist.org/00606_iGe5iXidib...,2013 Toyota RAV4 XLE 4dr SUV Offered by: R...,NaN,nc,35.715954,-78.655304,2021-04-17T10:08:57-0400,medium
4,7316474668,https://newyork.craigslist.org/lgi/cto/d/baldw...,new york city,https://newyork.craigslist.org,21800,2021.0,nissan,altima,new,4 cylinders,...,NaN,NaN,https://images.craigslist.org/00V0V_3pSOiPZ3Sd...,2021 Nissan Altima Sv with Only 8 K Miles Titl...,NaN,ny,40.654800,-73.609700,2021-05-03T18:32:06-0400,medium

In [4]:
# Удаление дубликатов
print(vehicles_df.shape)
vehicles_df = vehicles_df.drop_duplicates()
vehicles_df.shape

(10050, 27)

(10000, 27)

In [5]:
# Удаление 
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 10049
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10000 non-null  int64
 1   url             10000 non-null  object
 2   region          10000 non-null  object
 3   region_url      10000 non-null  object
 4   price           10000 non-null  int64
 5   year            9964 non-null   float64
 6   manufacturer    9618 non-null   object
 7   model           9872 non-null   object
 8   condition       6234 non-null   object
 9   cylinders       5920 non-null   object
 10  fuel            9937 non-null   object
 11  odometer        9957 non-null   float64
 12  title_status    9834 non-null   object
 13  transmission    9955 non-null   object
 14  VIN             6062 non-null   object
 15  drive           6994 non-null   object
 16  size            2809 non-null   object
 17  type            7806 non-null   object
 18  paint_color     7050 non-null   object
 19  image_url       9998 non-null   object
 20  description     9998 non-null   object
 21  county          0 non-null      float64
 22  state           10000 non-null  object
 23  lat             9902 non-null   float64
 24  long            9902 non-null   float64
 25  posting_date    9998 non-null   object
 26  price_category  10000 non-null  object
dtypes: float64(5), int64(2), object(20)
memory usage: 2.1+ MB

In [6]:
vehicles_df = vehicles_df[vehicles_df.columns[vehicles_df.isna().sum() / vehicles_df.shape[0] <= 0.2]]
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 10049
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10000 non-null  int64
 1   url             10000 non-null  object
 2   region          10000 non-null  object
 3   region_url      10000 non-null  object
 4   price           10000 non-null  int64
 5   year            9964 non-null   float64
 6   manufacturer    9618 non-null   object
 7   model           9872 non-null   object
 8   fuel            9937 non-null   object
 9   odometer        9957 non-null   float64
 10  title_status    9834 non-null   object
 11  transmission    9955 non-null   object
 12  image_url       9998 non-null   object
 13  description     9998 non-null   object
 14  state           10000 non-null  object
 15  lat             9902 non-null   float64
 16  long            9902 non-null   float64
 17  posting_date    9998 non-null   object
 18  price_category  10000 non-null  object
dtypes: float64(4), int64(2), object(13)
memory usage: 1.5+ MB

In [7]:
# Пропуски года выпуска
vehicles_df.year.describe()

count    9964.000000
mean     2010.927941
std         9.672040
min      1915.000000
25%      2008.000000
50%      2013.000000
75%      2017.000000
max      2022.000000
Name: year, dtype: float64

In [8]:
vehicles_df.year = vehicles_df.year.fillna(round(vehicles_df.year.mean()))
vehicles_df.year.isna().sum()

0

In [9]:
# Пропуски вида топлива
vehicles_df.fuel.describe()

count     9937
unique       5
top        gas
freq      8402
Name: fuel, dtype: object

In [10]:
vehicles_df.fuel = vehicles_df.fuel.fillna(vehicles_df.fuel.mode()[0])
vehicles_df.fuel.isna().sum()

0

In [11]:
# Пропуски модели
vehicles_df.model.describe()

count      9872
unique     3466
top       f-150
freq        151
Name: model, dtype: object

In [12]:
vehicles_df.model = vehicles_df.model.fillna('other')
vehicles_df.model.isna().sum()

0

In [13]:
# Пропуски статусов автомобилей
vehicles_df.title_status.value_counts()

title_status
clean         9518
rebuilt        171
salvage         92
lien            35
missing         16
parts only       2
Name: count, dtype: int64

In [14]:
vehicles_df.title_status = vehicles_df.title_status.fillna(vehicles_df.title_status.mode()[0])
vehicles_df.title_status.isna().sum()

0

In [15]:
# Преобразование типов
vehicles_df.year = vehicles_df.year.astype(int)
vehicles_df.posting_date = pd.to_datetime(vehicles_df.posting_date, utc=True)
vehicles_df.dtypes

id                              int64
url                            object
region                         object
region_url                     object
price                           int64
year                            int32
manufacturer                   object
model                          object
fuel                           object
odometer                      float64
title_status                   object
transmission                   object
image_url                      object
description                    object
state                          object
lat                           float64
long                          float64
posting_date      datetime64[ns, UTC]
price_category                 object
dtype: object

In [16]:
vehicles_df[vehicles_df.select_dtypes(include='object').columns] = vehicles_df.select_dtypes(include='object').astype('category')
vehicles_df.dtypes

id                              int64
url                          category
region                       category
region_url                   category
price                           int64
year                            int32
manufacturer                 category
model                        category
fuel                         category
odometer                      float64
title_status                 category
transmission                 category
image_url                    category
description                  category
state                        category
lat                           float64
long                          float64
posting_date      datetime64[ns, UTC]
price_category               category
dtype: object

In [17]:
# Обработка пропусков в годах
vehicles_df.year.describe()

count    10000.000000
mean      2010.928200
std          9.654614
min       1915.000000
25%       2008.000000
50%       2013.000000
75%       2017.000000
max       2022.000000
Name: year, dtype: float64

In [18]:
# Вычисляем границы допустимых значений (не выбросов)
q1, q3 = vehicles_df.year.quantile(0.25), vehicles_df.year.quantile(0.75)
iq = q3 - q1
lb, rb = max(round(q1 - 1.5 * iq), vehicles_df.year.min()), min(round(q3 + 1.5 * iq), vehicles_df.year.max())
print(lb, rb)

1994 2022

In [19]:
vehicles_df.loc[(vehicles_df.year < lb), 'year'] = lb
vehicles_df.loc[(vehicles_df.year > rb), 'year'] = rb
vehicles_df.year.describe()

count    10000.000000
mean      2011.667000
std          6.505363
min       1994.000000
25%       2008.000000
50%       2013.000000
75%       2017.000000
max       2022.000000
Name: year, dtype: float64

In [20]:
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 0 to 10049
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10000 non-null  int64
 1   url             10000 non-null  category
 2   region          10000 non-null  category
 3   region_url      10000 non-null  category
 4   price           10000 non-null  int64
 5   year            10000 non-null  int32
 6   manufacturer    9618 non-null   category
 7   model           10000 non-null  category
 8   fuel            10000 non-null  category
 9   odometer        9957 non-null   float64
 10  title_status    10000 non-null  category
 11  transmission    9955 non-null   category
 12  image_url       9998 non-null   category
 13  description     9998 non-null   category
 14  state           10000 non-null  category
 15  lat             9902 non-null   float64
 16  long            9902 non-null   float64
 17  posting_date    9998 non-null   datetime64[ns, UTC]
 18  price_category  10000 non-null  category
dtypes: category(12), datetime64[ns, UTC](1), float64(3), int32(1), int64(2)
memory usage: 1.9 MB

In [21]:
vehicles_df.reset_index(drop=True).to_csv('vehicles_dataset2.csv')